

.other_portal_1_div{
    position: relative;
}
.div_portal_1{
    position: absolute;
    top: 415px;
    right: 42%;
    width: 300px;
    height: 186px;
    background-color: violet;
    border: black 1px solid;
    border-radius: 20px;
   text-align: center;
   font-size: 20px;
}

.div_portal_1_inner{
  display: flex;
justify-content: center;
align-items: center;  
}
.div_portal_1_inner p {
margin: 20px;
padding: 3px;
cursor: pointer;
background-color: rgba(0, 0, 255, 0.486);
}